<form class="col s12">
  <div class="col s6"><h3>Expediente</h3></div>
  <div class="col s3"><button type="button" class="btn btn-primary blue bajar" ng-click="modificar()">Guardar</button></div>
  <div class="col s3 bajar"><a ng-href="#/pacientes/lista"><button type="button" class="btn btn-primary">Regresar</button></a></div>
  <style>
.bajar{
  margin-top:25px;
}
  </style>
  <br><br>
  <div class="row">
    <div class="input-field col s12">
      <input id="first_name" type="text" ng-model="person.nombre" class="validate" required>
      <label class="active" for="first_name">Nombre Completo</label>
    </div>


  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="apodo" type="text"  ng-model="person.apodo" class="validate"  required>
      <label class="active">Le gustan que le digan:</label>

    </div>



    <div class="input-field col s6">
      <input id="fechaNac" type="text" ng-model="person.fechaNacimiento" class="validate"  required>
      <label class="active">Fecha de Nacimiento yyyy-mm-dd</label>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s6">
      <input id="generoF" type="radio" ng-model="person.sexo" ng-value="0" class="with-gap">
      <label for="generoF">Femenino</label>
      <input id="generoM" type="radio" ng-model="person.sexo" ng-value="1" class="with-gap" >
      <label for="generoM"> Masculino</label>
    </div>

    <div class="input-field col s6">
      <input id="ocupacion" type="text" ng-model="person.ocupacion" class=" validate"  required>
      <label class="active">Ocupación</label>
    </div>

  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="email" type="email"  ng-model="person.email" class="validate"  required>
      <label class="active">Email</label>
    </div>

  <div class="input-field col s6">
      <input id="tel" type="text"  ng-model="person.telefono" class="validate"  required>
      <label class="active">Teléfono</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="email" type="text"  ng-model="person.estatura" class="validate"  required>
      <label class="active">Estatura</label>
    </div>

  <div class="input-field col s6">
      <input id="tel" type="text"  ng-model="person.peso" class="validate"  required>
      <label class="active">Peso</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="email" type="text"  ng-model="person.pesoIdeal" class="validate"  required>
      <label class="active">Peso Ideal</label>
    </div>

  <div class="input-field col s6">
      <input id="tel" type="text"  ng-model="person.pesoMeta"class="validate"  required>
      <label class="active">Peso Meta</label>
    </div>
  </div>

  <div class="row">


   <div class="input-field col s4">
     <input type="text" ng-model="person.ejercicioFisico" class="validate"  required>
     <label class="active">Ejercicio Fisico (Si/no)</label>



    </div>

      <div class="input-field col s8">
        <input id="email" type="text"  ng-model="person.tipoEjercicio" class="validate"  required>
        <label class="active">Tipo de Ejercicio</label>
      </div>

  </div>



  <div class="row">
      <div class="input-field col s6">
        <input id="email" type="text"  ng-model="person.comidasDia" class="validate"  required>
        <label class="active">Comidas al día</label>
      </div>

      <div class="input-field col s6">
          <input  type="text"  ng-model="person.frecuencia" class="validate"  required>
          <label class="active" >Frecuencia de comidas fuera de casa</label>
        </div>


  </div>

  <div class="row">
               <div class="input-field col s6">
          <input id="tel" type="text"  ng-model="person.alimentosSi"class="validate"  required>
          <label class="active">Alimentos que prefiere</label>
        </div>

               <div class="input-field col s6">
          <input  type="text"  ng-model="person.alimentosNo"class="validate"  required>
          <label class="active">Alimentos que disgustan</label>
        </div>
  </div>

        <div class="row">
                     <div class="input-field col s6">
                <input  type="text"  ng-model="person.veritest" class="validate"  required>
                <label class="active">Veritest</label>
                  </div>

           <div class="input-field col s6">
                  <input  type="text"  ng-model="person.bioquimicos" class="validate"  required>
                            <label class="active">Bioquimicos</label>
                          </div>

            </div>



                                <div class="row">
                                             <div class="input-field col s12">
                                        <input  type="text"  ng-model="person.prescripcionEjercicio" class="validate"  required>
                                        <label class="active">Prescripción de Ejercicio</label>
                                      </div>
                                    </div>


  <div class="row">
               <div class="input-field col s6">
          <input  type="text"  ng-model="person.suplementos"class="validate"  required>
          <label class="active">Suplementos </label>
        </div>

               <div class="input-field col s6">
          <input id="tel" type="text"  ng-model="person.medicamentos"class="validate"  required>
          <label class="active">Medicamentos actuales</label>
        </div>
  </div>



      <div class="row">
        <div class="input-field col s12">
          <textarea  class="materialize-textarea" ng-model="person.antecedentes"  required></textarea>
          <label class="active">Antecedentes</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea  class="materialize-textarea" ng-model="person.tratamiento"  required></textarea>
          <label class="active">Tratamiento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea  class="materialize-textarea" ng-model="person.observaciones"  required></textarea>
          <label class="active">Observaciones</label>
        </div>
      </div>


</form>
